<h1>Search Results</h1>
<% if !@songs.empty? %> 
  <ol>
  <% @songs.each do |song, details| %> 
        <% video_name = details[0].gsub(/\s/,"") %> 
        <% video_id = details[1] %> 
        <% video_url = @url + video_id.to_s %>
        <% if video_id != nil %> 
          <a href=<%= @url + video_id.to_s %> target="_blank" >
            <li><%= video_name %> </li>
            <img src=<%= details[2] %>>
          </a>
          <form role="form" action="/songs" method="POST"> 
              <input type="hidden" name="song[title]" value=<%= "#{video_name}" %>>
              <input type="hidden" name="song[url]" value=<%= "#{video_url}" %>>
              <input type="hidden" name="song[user_id]" value=<%= "#{current_user.id}" %>>
              <div class="form-group">
                  <button class="btn btn-default" type="submit">Add Song</button>
              </div>  
          </form> 
        <% end %> 
        <br>
  <% end %> 
  </ol> 
<% else %> 
  <p>No results. Please try again.</p>
<% end %> 
