<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <div id="search">
    <form id ="search-form" action="/search" method="GET"> 
      <input id="query" type="text" name="query" placeholder="Search for a video">
      <input type="submit" name="submit" value="Search">
    </form>
  </div>

  <div id="search-results">
  </div>

  <div id="queue-container">
    <h2>Next Singer</h4>
      <% if @queue %> 
        <ol> 
          <div id="queue">
            <% @queue.each do |song| %> 
              <div id="<%=song.id%>">
                <% if song.completed == false || song.completed == nil %>
                  <% user = User.find(song.user_id) %>
                  <li> <%= user.full_name %> </li>
                  <a href=<%=song.url%>> <%=song.title%></a>
                  <form class="edit-queue" action="/songs/<%=song.id%>" method="POST"> 
                    <input type="hidden" name="_method" value="PUT" >
                    <input type="submit" value="Done?">
                  </form><br>
              <% end %>
              </div>
          <% end %>
        </ol>
      <% end %>
  </div>

</body>
</html>